.Container{
    border: 1px solid black;
    display: flex;
    margin-top: 5em;
    font-size: large;
    background-color: white;
    border-radius: 0.5em;
    flex-direction: column;
    text-align: center;
}