.Container{
    border: 1px solid black;
    display: flex;
    margin-top: 80px;
    font-size: 2.8vw;
    background-color: white;
    border-radius: 0.5em;
    flex-direction: column;
    text-align: center;

}