.projects{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    width: 100%;
    max-height: 700px;
}

.projects h3{
    color:white;
    font-size: 1.8em;
}

.projectForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    width:100%;
    border-radius: 0.5em;
    padding: 1em;
}

.projectForm input {
   width: 100%;
}

.tableContainer{
    width: 100%;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px;
    background-color: white;
    width: 100%;
}

.long{
    word-break: break-all;
}

.buttons{
    margin-top: 0.5em;
    display: flex;
    align-self: center;
    width:200px;
}

.buttons input{
    margin: 10px;
    border-radius: 2em;
}

.featured{
    display: flex;
    flex-direction: row;
    width:30%;
    align-items: baseline;
    align-self: flex-start;
    margin-bottom: 0.5em;
}

.deleteButton {
    background-color: red;
    border-radius: 1em;
    font-weight: bold;
}