.projects{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
  
}

.long{
    word-break: break-all;
}