html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.MuiToolbar-root{
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Layout{
  display: flex;
  flex-direction: column;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
  margin-left: 1em;
}

@media only screen and (min-width: 768px) {
  .Content {
    margin-right: 5em;
    margin-left: 5em;
  }
  .Layout{
    height: 100vh;
  }

}