.title{
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h5{
  margin-top: 10px;
  color: whitesmoke;
  opacity: 0.8;
  font-size: 4vw;
  letter-spacing: 0.05em;
}

.profile{
 border-radius: 15em;
 mix-blend-mode: lighten;
}

.imageContainer {
  margin-bottom: 3em;
}

.title h1 {
  color: white;
  letter-spacing: 0.09em;
  color: white;
  font-size: 8vw;
  word-wrap: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.0s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}