$secondaryFont:  grey;

.title{
  display: flex;
  flex-direction: column;
  font-size: 3em;
  align-items: center;
}

.title h1{
  margin-bottom: 0;
}

.title h5{
  margin-top: 0;
  color: $secondaryFont;
}

.profile{
 border-radius: 100px;
}