
.title{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  align-items: center;
  text-align: center;
}

.title h1{
  margin-bottom: 0.2em;
  color: white;
  letter-spacing: 0.09em;

}

.title h5{
  margin-top: 0;
  color: whitesmoke;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

.profile{
 border-radius: 100px;
}