.navbar {
    background-color: transparent;
}

.navlinks{
    display: flex;
    flex-direction: row;
    font-size: 1em; 
    width: 600px;
    justify-content: space-evenly;
}

.social{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.socialimages {
    width: 1.2em;
}

.socialimages:hover{
    width:2.5em;
}

.homeIcon {
    color:white;
}

@media only screen and (min-width: 768px) {
    .navlinks{
        font-size: 2em;
    }
    .socialimages{
        width: 2em;
    }
    .homeIcon {
        font-size: 3em;
    }
  }


