.navlinks{
    display: flex;
    flex-direction: row;
    font-size: 2em; 
    width: 400px;
    justify-content: space-evenly;
}

.social{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.socialimages {
    width: 2em;
}

.socialimages:hover{
    width:2.5em;
}
