.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.title {
    font-size: 3.5vw;
}

.img{
    width:80%;
    height: auto;
}

.card {
    height: 100%;
    overflow: hidden;
}