.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    padding-bottom: 20px;
    padding-left: 1em;
    padding-right:1em;
    width: 100%;  
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.img{
    width: 100px;
    height:fit-content;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}